.DS_Store
node_modules
/build
/package
.env
.env.*
!.env.example
dist
public
.husky
.vscode
.idea
*.sh
*.md
*.woff
*.ttf
.idea

src/assets

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
